[html]
show_contexts = true
skip_covered = false

[run]
cover_pylib = false
dynamic_context = test_function
parallel = true
relative_files = true
source =
  tests
source_pkgs =
  blog
  mysite
omit =
    mysite/asgi.py
    mysite/wsgi.py
plugins =
  covdefaults
